@page "/login"

@using ExpenseTracker.Common.Models.BindingModels;
@using ExpenseTracker.BlazorClient.Services;
@using Microsoft.AspNetCore.Components

@inject IAuthService authService;
@inject IUriHelper uriHelper;

<h2>Login</h2>
<br />
<div class="row">
    <EditForm Model="@this.loginModel">
        <DataAnnotationsValidator />
        <ValidationSummary />

        <div class="form-group">
            <label for="email">Email address:</label>
            <input type="email" class="form-control" id="email" bind="@this.loginModel.Email" />
            <ValidationMessage For="@(() => this.loginModel.Email)"></ValidationMessage>
        </div>
        <div class="form-group">
            <label for="password">Password:</label>
            <input type="password" class="form-control" id="password" bind="@this.loginModel.Password" />
            <ValidationMessage For="@(() => this.loginModel.Password)"></ValidationMessage>
        </div>
        <button type="submit" class="btn btn-primary" onclick="@OnLoginButtonClick">Submit</button>
    </EditForm>
</div>

@functions{

    private LoginBindingModel loginModel = new LoginBindingModel();
   
    private async Task OnLoginButtonClick()
    {
        await this.authService.LoginAsync(this.loginModel.Email, this.loginModel.Password);

        if (this.authService.IsLoggedIn)
        {
            this.uriHelper.NavigateTo("/");
        }
    }
}
